<table class="table" id="myTable">
  <thead class="callout">
    <tr class="text-adaptive">
      <th scope="col" id="sortName"><button class="btn btn-hidden" style="margin: 0px; padding:0px;" onclick="sortTable()"><strong class="text-adaptive text-decoration-none">Name</strong> <i class="text-adaptive bi bi-arrow-down-up"></i></button> </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  {{#each result}}
  <tr class="text-adaptive">
    <td scope="row"><strong style="font-size:18px;">{{this.name}}</strong><br>{{this.id}}</td>
    <td scope="row">
      <form action="/deleteplugin/{{this.id}}" method="POST"> <input type="submit" value="Remove Plugin" style="position:relative;top:5px" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this plugin? This action cannot be undone!');"></form>
    </td>
  </tr>
  {{/each}}

  <tr>

  </tr>
</table>