<table class="table text-center" style="border: none;" id="myTable">
  <tr style="background-color: rgba(0, 0, 0, 0.2);">
    <th class="col text-secondary">Name</th>
    <th class="col text-secondary">Actions</th>
  </tr>

  {{#each result}}
  <tr>
    <td scope="row text-primary"><span class="text-primary" style="padding-top:15px;"><strong>{{this.name}}</strong><br>{{this.id}}</td>
    <td scope="row text-primary">
      <form action="/deleteplugin/{{this.id}}" method="POST"> <input type="submit" value="Remove Plugin" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this plugin? This action cannot be undone!');"></form>
    </td>
  </tr>
  {{/each}}

  <tr>

  </tr>
</table>